/*
img {
    width : 20%;
    margin-left: auto;
    margin-right: auto;
    }
    

 
    h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: x-large;
  padding: 0px 0;
  font-weight: 800;
  font-size: 3em;}

@media screen and (max-width: 64em) {
h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 50em) {
h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 30em){
h1 {
    font-size: 1.5em;
  }
}


p {
  font-size: large;
  font-weight: 100;
  padding: 20px 0;
  letter-spacing: 5px;
}

@media screen and (max-width: 64em) {
    p {
        font-size: 2em;
      }
    }
    
    @media screen and (max-width: 50em) {
    p {
        font-size: 1.75em;
      }
    }
    
    @media screen and (max-width: 30em){
    p {
        font-sitze: 1.5em;
      }
    }

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  color: #caf0f8;
}
   

    .button {
        font-size: large;
  font-weight: 100;
  letter-spacing: 5px;

        background-color: #caf0f8;
        border: none;
        color: #3a0ca3;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #3a0ca3; 
        color: #caf0f8; 
        border: 2px solid #caf0f8;
        border-radius: 8px;
      }
      
      .button:hover {
        background-color: #f72585;
        border: 2px solid #f72585;

        color: #3a0ca3;
      }
 

      body {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        font-family: "Poppins", sans-serif;
        font-family: "Prompt", sans-serif;
    }
    
    .container {
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    #right {
        width: 50%;
        background-color: #347afd;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
    
    .texte {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    

    
    
    
    
    */
    body {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        font-family: "lato";
    }
    
    a {
        align-self: center;
        text-decoration: none;
    }

    img {
        width: 50%;
        
        transition: transform .7s ease-in-out;
    }
    img:hover {
      transform: rotate(60deg);
    }

    .container {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #3a0ca3;
    }
    
    .photo {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 50%;
        background-image: url("back.png");
        background-size: cover ;
    }
    
    #zonetext {
        width: 50%;
        background-color: #3a0ca3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #caf0f8;
    }
    
    #text {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .error {
        font-size: 70px;
        margin: 0;
        text-align: center;
    }
    
    .lost {
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    
    
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 15px 60px 15px 60px;
        margin-top: 35px;
        align-self: center;
        background-color: #caf0f8;
        border: none;
        border-radius: 3px;
        color: #3a0ca3;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .button:hover {
    
        background-color: #f72585;
        color: #3a0ca3;
      }
    
    
   
    
    @media (max-width: 1000px) {
        .container {
            flex-direction: column;
        }
        .left {
            width: 100%;
            height: 50%;
        }
        #right {
            width: 100%;
            height: 50%;
        }
        img {
            width: 50%;
        }
    }
    
    @media (max-width: 500px) {
        .error {
            font-size: 100px;
        }
        .lost {
            margin-top: -22px;
        }
        .button {
            margin-top: 21px;
            font-size: 13px;
        }
    }