    body {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        font-family: "lato";
    }
    
    .container {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #3a0ca3;
    }

    .photo {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 50%;
        background-image: url("back.png");
        background-size: cover ;
    }

    img {
        width: 50%;
        
        transition: transform .7s ease-in-out;
    }
    img:hover {
      transform: rotate(60deg);
    }

    #zonetext {
        width: 50%;
        background-color: #3a0ca3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #caf0f8;
    }
    
    #text {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .error {
        font-size: 70px;
        margin: 0;
        text-align: center;
    }
    
    .lost {
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    
    a {
        align-self: center;
        text-decoration: none;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 10px 30px 10px 30px;
        margin-top: 35px;
        align-self: center;
        background-color: #caf0f8;
        border: none;
        border-radius: 5px;
        color: #3a0ca3;
        font-size: 17px;
        cursor: pointer;
    }
    
    .button:hover {
    
        background-color: #f72585;
        color: #3a0ca3;
      }
    
    
   
    
    @media (max-width: 992px) {
        .container {
            flex-direction: column;
        }
        .photo {
            width: 100%;
            height: 50%;
        }
        #zonetext {
            width: 100%;
            height: 50%;
        }
        img {
            width: 50%;
        }
    }
    
    @media (max-width: 600px) {
        .error {
            font-size: 100px;
        }
        .lost {
            margin-top: -22px;
        }
        .button {
            margin-top: 21px;
            font-size: 13px;
        }
    }